@font-face {
	font-family: 'AtB Digital Bold';
	src: url('../styles/fonts/AtBBold.ttf');
}
@font-face {
	font-family: 'AtB Digital Regular';
	src: url('../styles/fonts/AtBRegular.ttf');
}
@font-face {
	font-family: 'AtB Digital Medium';
	src: url('../styles/fonts/AtBMedium.ttf');
}
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
body {
	padding: 0;
}
.navbar{
	margin-bottom: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .marketing, .footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.main {
	background-color: #ECE9E2;
	color: #000;
}
.header-left {
	position: relative;
	margin-top: 2vh;
	margin-bottom: 2vh;
}
.header-left h3 {
	margin-bottom: 1px;
}
.header-left h4 {
  margin-top: 1px;
	color: #88837d;
}
.display-head h1 {
  margin-top: 3.7vh;
  font-size: 4.5em;
}
a#stopButton {
	background-color: red;
}
.ng-show {
	display: block !important;
}
.ng-hide {
	display: none !important;
}
.transport-head {
	display:block;
	background-color: #e1ded7;
}
.head-dk {
	font-size: 0.9em;
	font-family: 'AtB Digital Bold';
	display: block;
}
.head-en {
	font-size: 0.8em;
	font-family: 'AtB Digital Bold';
	color: #88837d;
	display: block;
}
.bus-line {
	font-size: 1.3em;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-family: 'AtB Digital Medium';
}
.bus-line:nth-child(even) {
	background-color: #e1ded7;
}
.bus-line-4 {
	font-size: 1.3em;
	padding: 5px;
	font-family: 'AtB Digital Medium';
}
.bus-line-4:nth-child(even){
	float:left;
}

h2 {
	font-size: 3em;
	font-family: 'AtB Digital Medium';
}
h3 {
	font-size: 2em;
	font-family: 'AtB Digital Medium';
}
h4 {
	font-size: 1.5em;
	font-family: 'AtB Digital Medium';
}
h5 {
	font-size: 1.3em;
	font-family: 'AtB Digital Medium';
	color: #88837d;
}
.col-xs-1 {
	padding-right: 0;
	padding-left: 0;
}
.col-xs-2 {
	padding-right: 0;
	padding-left: 0;
}
.col-md-10 {
	padding: 0;
}
.connection-dest {
	text-align: center;
	font-size: 0.8em;
	font-family: 'AtB Digital Regular';
}
.full-width {
  width: 100%;
}
.transContainer {
  height: 80vh;
	display: block;
  overflow: hidden;
  padding: 5px;
}
.transContainer:first-of-type {
  border-right: 2px solid black;
}
.transContainer h3 {
  margin-top: 0.2em;
}
.transContainer h3 .transport-head-image {
  margin-right: 0.6em;
}
.transContainer h3 span.grey {
  font-size: 0.8em;
}
.transContainerSmall{
	height: 100%;
	display: block;
	overflow: hidden;
}
.no-padding {
  padding: 0;
}
.dis4head{
	margin-right:5px;
}

.train-line {
	text-align: center;
	padding: 0;
	width: 25px;
	font-size: 0.8em;
  font-family: 'AtB Digital Regular';
  margin-top: 3px;
}
.metro-line {
	text-align: center;
	padding: 0;
}
.a-bus {
	background-color: #B8211C;
	color: #FFF;
}
.s-bus, .r-bus {
	padding: 0;
	background-color: #0065AA;
	color: #FFF;
}
.e-bus {
	padding: 0;
	background-color: #00B26B;
	color: #FFF;
}
.yellow-bus {
	background-color: #FDAE00;
}
.HAVNEBUS {
	background-color: #1A4F6C;
	color: #FFF;
}
.ABUS, .NBUS{
	background-color: #B8211C;
	color: #FFF;
}
.SBUS, .RNET{
	padding: 0;
	background-color: #0065AA;
	color: #FFF;
}
.EBUS{
	padding: 0;
	background-color: #00B26B;
	color: #FFF;
}
.ALM{
	background-color: #FDAE00;
}
.a-tog {
	background-color: #00B2EF;
	color: #FFF;
}
.b-tog {
	background-color: #56B848;
	color: #FFF;
}
.c-tog {
	background-color: #F58A1F;
	color: #FFF;
}
.e-tog {
	background-color: #7670B2;
	color: #FFF;
}
.f-tog {
	background-color: #FFC20E;
	color: #FFF;
}
.h-tog {
	background-color: #EF4130;
	color: #FFF;
}
.M1 {
	width: 30px;
	height: 30px;
	padding-top: 4px;
	font-family: 'AtB Digital Bold';
	font-size: 0.8em;
	background-color: #008265;
	border-radius: 50%;
	color: #FFF;
}
.M2 {
	width: 30px;
	height: 30px;
	padding-top: 4px;
	font-family: 'AtB Digital Bold';
	font-size: 0.8em;
	background-color: #FFC425;
	border-radius: 50%;
}
.icl {
	background-color: #FDBA58;
	color: #FFF;
}
.re, .ør {
	background-color: #50B748;
	color: #FFF;
}
.ic, .ice {
	background-color: #EF4130;
	color: #FFF;
}
.activeTransport {
	background-color: #FDAE00 !important;
}



#stop-sign {
	background-color: red;
	padding-top: 5vh;
	color: white;
	width: 100%;
	height: 25%;
	font-size: 4em;
}
p#stop{
	font-family: 'AtB Digital Bold';
	color:#FFF;
}
#dot-logo {
	width: 100%;
	height: 25%;
	display: block;
	background-color: #324191;
	padding-top: 5vh;
	color: #FFF;
	font-size: 4em;
}
.grey {
  color: #88837d;
}
.red {
  color: red;
}
input[type="text"]{
	font-family: 'AtB Digital Regular';
}
button.btn{
	padding:7px;
	font-family: 'AtB Digital Regular';
}
input#busNumber{
	height:35px;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	border-color: #FDAE00;

}
img.navbar-image{
	width:2em;
	height:2em;
}
.transport-head-image{
	width:50px;
	height: 50px;
}
.nav > li > a{
	padding:5px;
}
form.bus-number{
	padding-top: 10px;
}
img.replacement-image{
	width: 100%;
}
.track{
	padding-left:5px;
}
.vertical-line {
  width: 8px;
  background-color: #88837d;
  display: inline-block;
  height: 100%;
}
.next-stops .stop-line {
  padding-left: 0;
  padding-right: 0;
  height: 130px;
}
.next-stops .stop-line.next {
  font-size: 1.15em;
}
.next-stops .stop-line h3 {
  margin-top: 30px;
  margin-bottom: 0;
}
.next-stops .stop-line > div {
  height: 100%;
}
.next-stops .stop-line:last-of-type {
  height: 40px;
}
.next-stops .arrowhead {
  width: 20px;
}
.next-stops .connections {
  max-width: 300px;
  display: inline-block;
}
.next-stops .connection {
  display: inline-block !important;
  width: 42px;
  height: 21px;
  margin: 2px;
  text-align: center;
  font-weight: bold;
}
.next-stops .connection > span {
  width: 100%;
  height: 100%;
  display: inline-block !important;
}
.next-stops .connection-line {
  width: 46px;
  height: 46px;
  margin-right: -8px;
  display: inline-block;
}
.stop-marker {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
  border: 4px solid #88837d;
}
.next .stop-marker {
  border: 4px solid red;
  width: 24px;
  height: 24px;
}
.headline-wrapper {
  overflow:hidden;
}
.marquee h1 {
  animation: scroll-right-left 5s linear infinite;
  white-space: nowrap;
}
@keyframes scroll-right-left {
  from {
      transform: translateX(400px);
  }
  to {
      transform: translateX(-100px);
  }
}
.deviation-message {
  background-color: #88837d;
  text-align: center;
  height: 550px;
  color: white;
  padding-right: 50px;
  padding-left: 50px;
}
.deviation-message h1 {
  font-size: 5em;
}
.deviation-message h3 {
  font-size: 2.5em;
}
.display-block-desktop {
  display: none;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width:48em) {
	img.navbar-image{
	width:4em;
	height:4em;
	}
	.main{
		height: 90vh;
		overflow-y: hidden;
	}
	.display-head {
		max-height: 23vh;
		border-bottom: 2px solid black;
	}
	.left-panel {
		border-right: 2px solid black;
		display: block;
		height: 80vh;
		font-size: 1.1em;
		padding: 0;
	}
	.container {
		max-width: 1366px;
		max-height: 768px;
	}
	.main {
		overflow: hidden;
	}

	/* Remove the padding we set earlier */
	.header, .marketing, .footer {
		padding-left: 0;
		padding-right: 0;
	}

	/* Space out the masthead */
	.header {
	}

	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
  }
  .display-block-desktop {
    display: block;
  }
}
@media screen and (max-width:48em) {
	h2{
		font-size: 2.5em;
	}
	.col-xs-3, .col-xs-9, .col-xs-12 {
		padding: 0;
	}
	.col-xs-12 {
		padding-left:5px;
	}
	button.navbar-toggle{
		margin:0;
		margin-top:3px;
		margin-right:3px;
	}
	.transContainer{
		height: 100%;
		display: block;
		position:relative;
	}
	.display-head {
		display:block;
		position:relative;
		height: 100%;
  }
  .display-head h1 {
    font-size: 3.2em;
    margin-top: 4.5vh;
  }
	ul.nav>li>a{
		display: block;
		float:left;
		margin-top:3px;
		padding:5px;
	}
	.header{
		width: 100%;
		padding:0;
	}
	.navbar-nav{
		margin:0;
	}

	form.bus-number{
		width:100%;
	}
	input[type="text"]{

	}
	.connection-dest{
		font-size: 0.7em;
  }
  .next-stops .stop-line {
    min-height: 90px;
  }
  .next-stops .stop-line h3 {
    margin-top: 5px;
  }
}
