<div class="row main">
	<div ng-controller="MainCtrl ">
	<!-- Heading used to display next stop, destination and expected time of arrival-->
		<div class="display-head col-xs-12">
			<div class="col-xs-3 col-md-2 header-left">
				<h3 ng-show="busInfo.displayMode==2||busInfo.displayMode==4||busInfo.displayMode==5">Næste stop</h3>
				<h4 ng-show="busInfo.displayMode==2||busInfo.displayMode==4||busInfo.displayMode==5">Next stop</h4>
				<h3 ng-show="busInfo.displayMode==3">Mod</h3>
				<h4 ng-show="busInfo.displayMode==3">Towards</h4>
			</div>
			<div ng-show="busInfo.displayMode==2||busInfo.displayMode==4||busInfo.displayMode==5" class="col-xs-9 col-md-10 headline-wrapper" ng-class="(busInfo.nextStops[0].stopPoint.name.length > 27 ? 'marquee' : '')">
				<h1>{{busInfo.nextStops[0].stopPoint.name}}</h1>
			</div>
			<div ng-show="busInfo.displayMode==3" class="col-xs-9 col-md-10" ng-class="(busInfo.nextStops[0].stopPoint.name.length > 27 ? 'marquee' : '')">
				<h1>{{busInfo.finalStop.stopPoint.name}}</h1>
			</div>
		</div>
		<div class="display-body">
			<!-- Left panel showing line, zone & time -->
			<div class="col-xs-12 col-md-2 left-panel">
				<div id="stop-sign" ng-show="busInfo.displayMode==3" class="text-center">
					<p id="stop">STOP</p>
				</div>
				<div id="dot-logo" class="text-center" ng-show="busInfo.displayMode==2||busInfo.displayMode==4||busInfo.displayMode==5">
					DOT
        </div>
        <br>
				<div class="col-xs-4 col-md-12">
					<h4>Linje: <span class="grey">{{busInfo.journey.lineDesignation}}</span></h4>
				</div>
				<div class="col-xs-4 col-md-12">
					<h4>Zone: <span class="grey">{{busInfo.zoneNumber}}</span></h4>
				</div>
				<div class="col-xs-4 col-md-12">
					<h4>{{busInfo.time | amDateFormat:'HH:mm '}}</h4>
				</div>
			</div>
			<!-- images are for functional purpose, used when no connections are available or the bus is stopped -->
			<div class="col-xs-12 col-md-10"  ng-show="busInfo.displayMode==3">
				<!-- <img class="replacement-image" src="images/sea-5.jpg" alt=""> -->
			</div>
			<div class="col-xs-12 col-md-10"  ng-show="busInfo.nextStops[0].connections.length==0">
				<!-- <img class="replacement-image" src="images/mountain-1.jpg" alt=""> -->
			</div>

      <!-- DEVIATION MESSAGE -->
			<div class="col-xs-12 col-md-10 deviation-message" ng-show="getDeviationMessage()!=false">
        <h1>{{ getDeviationMessage().headerText }}</h1>
        <h3>{{ getDeviationMessage().summaryText }}</h3>
      </div>

      <div ng-show="getDeviationMessage()==false">
        <!--DISPLAY MODE 2 -->
        <div class="col-xs-12 col-md-10" ng-show="busInfo.displayMode==2||busInfo.displayMode==3">
          <!-- BUS -->
          <div class="next-stops">
            <div class="stop-line" ng-repeat="(key, nextStop) in busInfo.nextStops | orderBy:'expectedDepartureDateTime' | limitTo:3" ng-class="(key === 0 ? 'next' : '')">
              <div class="col-md-2 col-sm-4 col-xs-4 text-center" ng-show="diffMinutes(nextStop.expectedArrivalDateTime) < 1 && key === 0"><h3>Nu</h3></div>
              <div class="col-md-2 col-sm-4 col-xs-4 text-center" ng-show="!(diffMinutes(nextStop.expectedArrivalDateTime) < 1 && key === 0)"><h3>{{ ( diffMinutes(nextStop.expectedArrivalDateTime) < 1 ? '1' : diffMinutes(nextStop.expectedArrivalDateTime) )}} min.</h3></div>
              <div class="col-md-1 display-block-desktop text-center"><div class="stop-marker"></div><div class="vertical-line"></div></div>
              <div class="col-md-9 col-sm-8 col-xs-8">
                <h3>{{nextStop.stopPoint.name}}</h3>
                <div class="connections" ng-if="nextStop.connections.length">
                  <div class="connection" ng-repeat="connection in nextStop.connections | checkType:'BUS' | uniqueCombo:['transportModeCode', 'lineDesignation']">
                    <span ng-class="connection.lineTypeCode">{{connection.lineDesignation}}</span>
                  </div>
                </div>
                <img class="connection-line" src="images/stog.png" ng-show="hasTransportType(nextStop.connections, 'S-TOG')">
                <img class="connection-line" src="images/metro.png" ng-show="hasTransportType(nextStop.connections, 'METRO')">
                <img class="connection-line" src="images/tog.png" ng-show="hasTransportType(nextStop.connections, 'TOG')">
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="stop-line" ng-if="busInfo.nextStops.length > 0">
              <div class="col-md-2 col-sm-4 col-xs-4 text-center"></div>
              <div class="col-md-1 display-block-desktop text-center"><img src="images/arrowhead.png" class="arrowhead"></div>
              <div class="col-md-9 col-sm-8 col-xs-8"></div>
            </div>
          </div>

        </div>
        <!--DISPLAY MODE 4 -->
        <div class="col-xs-12 col-md-10"  ng-show="busInfo.displayMode==4">
          <!-- BUS -->
          <div class="busses col-xs-12   transContainerSmall" ng-show="computeTransportModeCode(busInfo.nextStops[0].connections, 'BUS')">
            <h3 class="col-xs-12"><img class="transport-head-image" src="images/bus.png">Bus</h3>
            <div class="col-xs-12 ">
              <div class="transport-head   col-md-6">
                <div class=" head-dk transport-head">
                  <span class="col-xs-2 text-center transport-head">Linje</span>
                  <span class="col-xs-8 transport-head">Til</span>
                  <span class="col-xs-2 text-center transport-head">Om min.</span>
                </div>
                <div class="head-en transport-head">
                  <span class="col-xs-2 text-center transport-head">Line</span>
                  <span class="col-xs-8 transport-head">To</span>
                  <span class="col-xs-2 text-center transport-head">In min.</span>
                </div>
              </div>
              <!-- 2-column layout requires two headings for the connections -->
              <div class="transport-head col-md-6" ng-show="moreThanOne(busInfo.nextStops[0].connections, 'BUS')">
                <div class="  head-dk transport-head">
                  <span class="col-xs-2 text-center transport-head">Linje</span>
                  <span class="col-xs-8 transport-head">Til</span>
                  <span class="col-xs-2 text-center transport-head">Om min.</span>
                </div>
                <div class=" head-en transport-head">
                  <span class="col-xs-2 text-center transport-head">Line</span>
                  <span class="col-xs-8 transport-head">To</span>
                  <span class="col-xs-2 text-center transport-head">In min.</span>
                </div>
              </div>
            </div>
            <!-- display mode 4 has only bus connections, so only these are shown -->
            <div class="col-xs-12 ">
              <div class="col-xs-12 col-md-6 bus-line-4"  ng-repeat="connection in busInfo.nextStops[0].connections | checkType:'BUS' | orderBy:'expectedDepartureDateTime' | limitTo:4 " >
                <div  class=" col-xs-2 ">
                  <div ng-class="connection.lineType" class="col-xs-8 col-xs-offset-3 connection-dest text-center">{{connection.lineDesignation}}</div>
                </div>
                <div class="connection-line  pull-left col-xs-8">{{connection.lineDestination}}<span ng-if="connection.secondaryDestination">, {{connection.secondaryDestination}}</span></div>
                <span class="pull-right col-xs-2 text-center" ng-hide="negTime(connection.timeLeft)" >{{connection.timeLeft}}</span>
                <span class="pull-right col-xs-2 text-center" ng-show="negTime(connection.timeLeft)" >Nu</span>

              </div>
            </div>
          </div>
          <!-- image used to fill the rest of the space -->
          <img class="replacement-image" src="images/sea-5.jpg" alt="">
        </div>
        <!--DISPLAY MODE 5 -->
        <div class="col-xs-12 col-md-10"  ng-show="busInfo.displayMode==5">
          <!-- BUS -->
          <div class="busses col-xs-12 col-md-6 transContainer" ng-show="computeTransportModeCode(busInfo.nextStops[0].connections, 'BUS') && showRotateItem('BUS')" ng-class="(transportModeCount(busInfo.nextStops[0].connections)===1?'full-width':'')">
            <h3 class=""><img class="transport-head-image" src="images/bus.png">Bus</h3>
            <div class="transport-head">
              <div class="col-xs-12 head-dk transport-head">
                <span class="col-xs-2">Linje</span>
                <span class="col-xs-8">Til</span>
                <span class="col-xs-2 text-right">Om min.</span>
              </div>
              <div class="col-xs-12 head-en transport-head">
                <span class="col-xs-2">Line</span>
                <span class="col-xs-8">To</span>
                <span class="col-xs-2 text-right">In min.</span>
              </div>
            </div>
            <div class="col-xs-12 bus-line" ng-repeat="connection in busInfo.nextStops[0].connections | checkType:'BUS' | orderBy:'expectedDepartureDateTime' | limitTo:8 ">
              <div  class=" col-xs-2 ">
                <div ng-class="connection.lineType" class="col-xs-8 no-padding connection-dest">{{connection.lineDesignation}}</div>
              </div>
              <div class="connection-line  pull-left col-xs-8">{{connection.primaryDestination}}<span ng-if="connection.secondaryDestination">, {{connection.secondaryDestination}}</span><span ng-if="connection.plannedDepartureDateTime" class="red"><br>Forsinket</span></div>
              <span class="pull-right col-xs-2 text-right" ng-hide="negTime(connection.timeLeft)" >{{connection.timeLeft}}<span ng-if="connection.plannedDepartureDateTime" class="red"><br>{{ connection.delayedMinutes }}</span></span>
              <span class="pull-right col-xs-2 text-right" ng-show="negTime(connection.timeLeft)" >Nu</span>
            </div>
          </div>
          <!-- S-TOG -->
          <div class="s-tog col-xs-12 col-md-6 transContainer" ng-show="computeTransportModeCode(busInfo.nextStops[0].connections, 'S-TOG') && showRotateItem('S-TOG')" ng-class="(transportModeCount(busInfo.nextStops[0].connections)===1?'full-width':'')">
            <h3><img class="transport-head-image" src="images/stog.png">S-Tog <span class="grey">S-Train</span></h3>
            <div class="transport-head">
              <div class="col-xs-12 head-dk transport-head">
                <span class="col-xs-1">Linje</span>
                <span class="col-xs-7">Til</span>
                <span class="col-xs-2 text-right">Om min.</span>
                <span class="col-xs-2 text-right">Spor</span>
              </div>
              <div class="col-xs-12 head-en transport-head">
                <span class="col-xs-1">Line</span>
                <span class="col-xs-7">To</span>
                <span class="col-xs-2 text-right">In min.</span>
                <span class="col-xs-2 text-right">Track</span>
              </div>
            </div>
            <div class="col-xs-12 bus-line" ng-repeat="connection in busInfo.nextStops[0].connections | checkType:'S-TOG' | orderBy:'expectedDepartureDateTime' | limitTo:8" ng-hide="negTime(connection.timeLeft)">
              <div class="col-xs-1">
                <div ng-class="connection.lineType" class="train-line text-center">{{connection.lineDesignation}}</div>
              </div>
              <div class="connection-line  pull-left col-xs-7">{{connection.primaryDestination}}<span ng-if="connection.secondaryDestination">, {{connection.secondaryDestination}}</span><span ng-if="connection.plannedDepartureDateTime" class="red"><br>Forsinket</span></div>
              <span class="col-xs-2 text-right" ng-hide="negTime(connection.timeLeft)" >{{connection.timeLeft}}<span ng-if="connection.plannedDepartureDateTime" class="red"><br>{{ connection.delayedMinutes }}</span></span>
              <span class="col-xs-2 text-right" ng-show="negTime(connection.timeLeft)" >Nu</span>
              <span class="col-xs-2 text-right track">{{connection.track}}</span>
            </div>
          </div>
          <!-- METRO -->
          <div class="metro col-xs-12 col-md-6 transContainer" ng-show="computeTransportModeCode(busInfo.nextStops[0].connections, 'METRO') && showRotateItem('METRO')" ng-class="(transportModeCount(busInfo.nextStops[0].connections)===1?'full-width':'')">
            <h3><img class="transport-head-image" src="images/metro.png">Metro</h3>
            <div class="transport-head">
              <div class="col-xs-12 head-dk transport-head">
                <span class="col-xs-1">Linje</span>
                <span class="col-xs-8">Til</span>
                <span class="col-xs-2">Om min.</span>
              </div>
              <div class="col-xs-12 head-en transport-head">
                <span class="col-xs-1">Line</span>
                <span class="col-xs-8">To</span>
                <span class="col-xs-2">In min.</span>
              </div>
            </div>
            <div class="col-xs-12 bus-line" ng-repeat="connection in busInfo.nextStops[0].connections | checkType:'METRO' | orderBy:'expectedDepartureDateTime' | limitTo:8">
              <div ng-class="connection.lineType" class="metro-line col-xs-1 text-center">{{connection.lineDesignation}}</div>
              <div ng-show="" class="">{{}} </div>
              <div class="connection-line  pull-left col-xs-8">{{connection.primaryDestination}}<span ng-if="connection.secondaryDestination">, {{connection.secondaryDestination}}</span><span ng-if="connection.plannedDepartureDateTime" class="red"><br>Forsinket</span></div>
              <div class="col-xs-2 text-center" ng-hide="negTime(connection.timeLeft)" >{{connection.timeLeft}}<span ng-if="connection.plannedDepartureDateTime" class="red"><br>{{ connection.delayedMinutes }}</span></div>
              <span class="col-xs-2 text-center" ng-show="negTime(connection.timeLeft)" >Nu</span>
            </div>
          </div>
          <!-- TOG -->
          <div class="trains col-xs-12 col-md-6 transContainer" ng-show="computeTransportModeCode(busInfo.nextStops[0].connections, 'TOG') && showRotateItem('TOG')" ng-class="(transportModeCount(busInfo.nextStops[0].connections)===1?'full-width':'')">
            <h3><img class="transport-head-image" src="images/tog.png">Tog <span class="grey">Train</span></h3>
            <div class="transport-head">
              <div class="col-xs-12 head-dk transport-head">
                <span class="col-xs-1">Linje</span>
                <span class="col-xs-8">Til</span>
                <span class="col-xs-2 ">Afgang</span>
                <span class="col-xs-1 text-right">Spor</span>
              </div>
              <div class="col-xs-12 head-en transport-head">
                <span class="col-xs-1">Line</span>
                <span class="col-xs-8">To</span>
                <span class="col-xs-2 ">Departure</span>
                <span class="col-xs-1 text-right ">Track</span>
              </div>
            </div>
            <div class="col-xs-12 bus-line" ng-repeat="connection in busInfo.nextStops[0].connections | checkType:'TOG' | orderBy:'expectedDepartureDateTime' | limitTo:8">
              <div ng-class="connection.lineType" class="connection-dest pull-left col-xs-1 text-center">{{connection.lineDesignation}}</div>
              <div class="connection-line  pull-left col-xs-8">{{connection.primaryDestination}}<span ng-if="connection.secondaryDestination">, {{connection.secondaryDestination}}</span><span ng-if="connection.plannedDepartureDateTime" class="red"><br>Forsinket</span></div>
              <div class="col-xs-2"><span ng-if="connection.plannedDepartureDateTime">{{connection.plannedDepartureDateTime | amDateFormat:'HH:mm' }}<br></span> <span ng-class="(connection.plannedDepartureDateTime ? 'red' : '')">{{connection.expectedDepartureDateTime | amDateFormat:'HH:mm' }}</span></div>
              <span class="col-xs-1 text-right track">{{connection.track}}</span>
            </div>
          </div>
        </div>
      </div>
		</div>
		<div class="display-footer">
		</div>
	</div>
</div>
